# Python
__pycache__/
*.pyc
.venv/

# Data (optional)
#data/raw/
#data/processed/

# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
